@import "tailwindcss";
@import "tw-animate-css";

/* @custom-variant dark (&:is(.dark *)); */

/* 🎨 Definisikan custom palette-mu di sini */
@theme {
  --color-primary-50: #fff2e6;
  --color-primary-100: #ffd5b0;
  --color-primary-200: #ffc18a;
  --color-primary-300: #ffa554;
  --color-primary-400: #ff9433;
  --color-primary-500: #ff7900;
  --color-primary-600: #e86e00;
  --color-primary-700: #b55600;
  --color-primary-800: #8c4300;
  --color-primary-900: #6b3300;

  /* alias utama biar bisa pakai bg-primary, text-primary, dll */
  --color-primary: var(--color-primary-500);

  --color-placeholder: #7a7c81;

  --radius-input: 0.625rem;
}

html,
body {
  /* @apply bg-white text-gray-900 antialiased; */
}
